@import "tailwindcss";


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
#tinyEditorDetails ul li ul {
  list-style: inside;
}

#tinyEditorDetails ul li ul li {
  position: relative;
  list-style: none;
  padding-left: 1.2em;
}

#tinyEditorDetails ul li ul li::before {
  content: "✓";
  color: var(--active); /* Your custom color */
  font-weight: bold;
  position: absolute;
  left: 0;
}

.tox-promotion, .tox-statusbar__branding, .tox-statusbar__help-text, .tox-statusbar__path, .tox-statusbar__path-item{
    display: none !important;
}
.tox-statusbar__right-container{
    display: block !important;
}
.tox-tinymce, .tox-statusbar{
    border: 2px solid var(--gradient) !important;
}
.tox-editor-header{
    background: var(--gradient) !important;
}
.tox-menubar, .tox-toolbar-overlord, .tox-toolbar__primary, .tox-statusbar{
    background: var(--gradient) !important;
}
.tox-statusbar__wordcount{
    color: var(--subTitle) !important;
}
.mce-content-body, .tox-edit-area__iframe {
    background: var(--gradient) !important;
}
.tox-mbtn, .tox-tbtn{
    background: var(--subBox) !important;
    color: var(--subTitle) !important;
}
.tox .tox-tbtn svg{
    fill: var(--subTitle) !important;
}
.tox-statusbar__resize-handle{
    display: none !important;
}
.tox.tox-tinymce{
    height: 360px !important;
}


:root {
  --mainBodyBg: #f8f8f9;
  --container: #eee3bc;
  --box: #96a8a6;
  --subBox: #bdd2d0;
  --title: #181816;
  --subTitle: #4b5563;
  --active: #c74d4d;
  --default: #fafafc;
  --structure: #1c1c27;
  --iconBox: #7c9693;
  --historyBox: #96a8a6;
  --swapBg: #1e1e28;
  --chartBg: #ffffff;
  --gradient: linear-gradient(0deg, #96a8a6 0%, #96a8a6 100%);
}

.dark {
  --mainBodyBg: #191923;
  --container: #1e1e28;
  --box: #20202a;
  --subBox: #252530;
  --title: #fafafc;
  --subTitle: #8c8c8e;
  --active: #ffc107;
  --default: #fafafc;
  --structure: #1c1c27;
  --iconBox: #252530;
  --historyBox: #252530;
  --swapBg: #eee3bc;
  --chartBg: #20202a;
  --gradient: linear-gradient(15deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%);
}
.chartBg{
  background: var(--chartBg);
}
.mainBg{
  background: var(--mainBodyBg);
}
.bgHover:hover{
  background: var(--mainBodyBg);
}
.containerBg{
  background: var(--container);
}
.swapBg{
  background: var(--swapBg);
}
.swapText{
  color: var(--container);
}
.after::after{
  background: var(--swapBg);
}
.boxBg{
  background: var(--box);
}
.iconBoxBg{
  background: var(--iconBox);
}
.subBoxBg{
  background: var(--subBox);
}
.subBoxBorder{
  border: var(--subBox);
}
.serviceListBottomBorder{
  border-bottom: 1px solid var(--subTitle);
}
.historyBox::after{
  background: var(--historyBox);
}
.historyBox::before{
  background: var(--historyBox);
}
.historyBox{
  background: var(--historyBox);
}

.subtitleText{
  color:var(--subTitle);
}
.subtitleText::placeholder{
  color:var(--subTitle);
}

.activeBg{
  background: var(--active);
}

.titleText{
  color: var(--title);
}

.textWithHover{
  color: var(--title);
}
.textWithHover:hover{
  color: var(--active);
}

.subTitleText{
  color: var(--subTitle);
}

.activeText{
  color: var(--active);
}

.defaultText{
  color: var(--default);
}

.structureBg{
  background: var(--structure);
}

.gradientBg{
  background-image: var(--gradient);
}

